@use '../00-abstracts' as *;

.aboutButton {
    display: inline-flex;
    fill: #1D3444;
    background-color: var(--tertiary);
}

.aboutButton:hover  {
    fill: #56A292;
    background-color: var(--hover);
}

    .aboutButton__svg,
    .aboutButton__rect {
        width:  rem(48px);
        height: rem(48px);
    }

    .aboutButton__svg {
        background-color: #1D3444;
    }

    .aboutButton:hover .aboutButton__svg {
        background-color: #56a292;
    }


    .aboutButton__path {
        stroke: #5FB4A2;
    }

    .aboutButton:hover .aboutButton__path {
        stroke: #FFFFFF;
    }

    .aboutButton__link {
        color: var(--primary);
        padding: rem(17px) rem(32px);
    }