@use '../00-abstracts' as *;

.box {
    @include mq(medium) {
        position: absolute;
        bottom: 0;
        width: rem(514px);
        background-color: var(--primary);
    }
    @include mq(large) {
        width: rem(445px);
    }
}

    .box__header {
        margin-top: rem(24px);
        margin-bottom: rem(32px);
        @include mq(medium) {
            margin: 0;
            width: rem(360px);
            padding-top: rem(56px);
            padding-bottom: rem(48px);
        }
        @include mq(large) {
            width: rem(390px);
            padding-bottom: rem(53px);
        }
    }