@use '../00-abstracts' as *;

.button {
    padding-bottom: rem(10px);
    border: none;
    border-bottom: 2px solid var(--accent);
    background: none;
    &:hover {
        color: var(--accent);
    }
}

.button--project {
    margin-top: rem(32px);
    margin-right: rem(40px);
    padding-left:  0;
    padding-right: 0;
    color: var(--secondary);
    cursor: pointer;
}

.button--contact {
    background: none;
    cursor: pointer;
    color: var(--secondary);
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.view-in-browser {
    position: absolute; 
    top: rem(16px); 
    left: rem(16px);
    font-size: rem(16px); 
    color: var(--primary);
}

.close-modal {
    position: absolute;
    top:   rem(12px);
    right: rem(16px);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    fill: var(--primary);
    &:hover {
        color: var(--accent);
    }
}