@use '../00-abstracts' as *;

.button {
    padding-bottom: rem(10px);
    border: none;
    border-bottom: 2px solid var(--accent);
    background: none;
    &:hover {
        color: var(--accent);
    }
}

.button--project {
    margin-top: rem(32px);
    margin-right: rem(40px);
    padding-left:  0;
    padding-right: 0;
    color: var(--secondary);
    cursor: pointer;
}

.button--contact {
    background: none;
    cursor: pointer;
    color: var(--secondary);
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}