@use '../00-abstracts' as *;

.contactForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: rem(445px);
    @include mq(medium) {
        margin-top: rem(40px);
    }
    @include mq(large) {
        margin: initial;
        width: rem(445px);
    }
}
    .contactForm__input,
    .contactForm__textarea {
        font-size: rem(15px);
        line-height: rem(26px);
        color: white;
        cursor: pointer;
        border: none;
        background: none;
        border-bottom: 1px solid white;
        padding-left: rem(14px);
        padding-bottom: rem(12px);
        &:focus {
            outline: none;
            opacity: 1;
            border-bottom: 2px solid white;
        }
        &::placeholder {
            color: white;
            opacity: 0.5;
        }
    }
    .contactForm__input {
        height: rem(43px);
        margin-bottom: rem(32px);
    }
    .contactForm__textarea {
        height: rem(107px);
        margin-bottom: rem(40px);
        @include mq(medium) {
            margin-bottom: rem(32px);
        }
    }