@use '../00-abstracts' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(32px);
    @include mq(medium) {
        padding-top: rem(64px);
    }
}