@use '../00-abstracts' as *;

.hero {
    margin-top: rem(40px);
    padding-bottom: rem(80px);
    text-align: center;
    @include mq(medium) {
        margin-top: rem(90px);
        padding-bottom: rem(60px);
        text-align: left;
    }
    @include mq(large) {
        margin-top: rem(128px);
        padding-bottom: rem(104px);
    }
}
    .hero__header {
        margin-bottom: rem(24px);
    }
    .hero__span {
        color: var(--accent);
    }
    .hero__paragraph {
        margin-bottom: rem(24px);
        @include mq(medium) {
            max-width: rem(445px);
            margin-bottom: rem(34px);
        }
        @include mq(large) {
            margin-bottom: rem(66px);
        }
    }