@use '../00-abstracts' as *;
// body { overflow: hidden; }

.modal {
    position: relative;
    width: 95%;
    max-width: rem(900px);
    height: 100%;
    margin:  rem(56px) auto;
    padding: rem(32px) rem(16px);
    background-color: var(--secondary);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
    .modal__image {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }