@use '../00-abstracts' as *;

.nav {
    width: 75%;
    max-width: rem(240px);
    @include mq(small) {
        // width: 65%;
        max-width: rem(400px);
    }
}
    .nav__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__item a {
        color: var(--secondary);
        &:hover {
            color: var(--hover);
        }
    }