@use '../00-abstracts' as *;

.primaryNav {
    width: 75%;
    max-width: rem(240px);
    @include mq(small) {
        max-width: rem(400px);
    }
}
    .primaryNav__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .primaryNav__link {
        color: var(--secondary);
        &:hover {
            color: var(--hover);
        }
    }