@use '../00-abstracts' as *;

.project {
    width: 100%;
    margin-top: rem(80px);
    padding: rem(32px) rem(16px);
    border-radius: rem(10px);
    background-color: var(--tertiary);
    border: 4px solid var(--secondary);
    color: var(--secondary);
    @include mq(small) {
        padding: rem(32px) rem(24px);
    }
    @include mq(large) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
    .project__inner {
        height: 100%;
        @include mq(large) {
            padding-left: rem(8px);
            padding-right: rem(24px);
        }
    }
    .project__image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: var(--secondary);
        @include mq(large) {
            width: 52%;
        }
    }
    .project__header {
        margin-top: rem(16px);
        margin-bottom: rem(8px);
        font-size: var(--fs-550);
        @include mq(medium) {
            margin-top: rem(32px);
            margin-bottom: rem(16px);
        }
        @include mq(large) {
            margin-top: 0;
        }
    }
    .project__paragraph {
        margin-bottom: rem(16px);
        @include mq(large) {
            padding-right: 0 rem(24px);
        }
    }
    .project__list {
        padding-left: rem(24px);
        list-style-type: disc;
        @include mq(small) {
            padding-left: rem(32px);
        }
    }
    .project__item {
        padding-bottom: rem(8px);
    }