@use '../00-abstracts' as *;

.projects {
    margin-top:    rem(40px);
    margin-bottom: rem(72px);
    @include mq(medium) {
        display: flex;
        align-items: center;
        gap: rem(56px);
        margin-top:    rem(80px);
        margin-bottom: rem(80px);
    }
    @include mq(large) {
        align-items: initial;
        gap: rem(120px);
    }
    &:last-child { 
        margin-bottom: rem(80px);
        @include mq(medium) {
            margin-bottom: rem(96px);
        }
        @include mq(large) {
            margin-bottom: rem(150px);
        }
    }
}

.projects__image {
    width: 100%;
    height: auto;
    max-width: rem(488px);
    @include mq(medium) {
        width: 50%;
    }
}

.projects.-reverse {
    @include mq(medium) {
        flex-direction: row-reverse;
    }
}