@use '../00-abstracts' as *;

.switches {
    display: flex; 
    justify-content: space-between;
    width: calc(100% - rem(48px));
    max-width: rem(294px);
    margin: auto;
    margin-top: rem(40px);
    margin-bottom: rem(16px);
}