@use '../00-abstracts' as *;

.switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary); 
}
    .switch__header {
        margin-bottom: rem(8px);
    }
    .switch__input {
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
    }
    .switch__input:checked + .switch__background {
        background: #16a085;
        .switch__slider {
            margin-left: 50%;
            background: #1abc9c;
            &::before {
                content: "\2714"
            }
        }
    }
    .switch__background {
        display: flex;
        align-items: center;
        width: rem(56px);
        height: rem(24px);
        background: gray;
        border-radius: 2.5em;
        transition: all .5s ease;
        cursor: pointer;
    }
    .switch__slider {
        display: flex;
        margin-left: 0.5em;
        justify-content: center;
        align-items: center;
        width: rem(20px);
        height: rem(20px);
        background: red;
        border-radius: 50%;
        transition: all .5s ease;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        &:before {
            content: "\00D7";
            color: white;
            font-size: rem(20px);
            font-weight: bold;
        }
    }
    