@use '../00-abstracts' as *;

.section {
    padding-top:    rem(80px);
    padding-bottom: rem(80px);
    @include mq(medium) {
        padding-top:    rem(100px);
        padding-bottom: rem(100px);
    }
}

.section--bg {
    background-color: var(--tertiary);
}