@use '../00-abstracts' as *;

.wrapper {
    // max-width: rem(800px);
    margin: 0 auto;
    padding: 0 rem(24px);
    @include mq(medium) {
        padding: 0 rem(40px);
    }
    @include mq(large) {
        padding: 0;
        max-width: rem(1110px);
    }
}