@use '../00-abstracts' as *;

:root {
    --primary:   #1a1a2e;
    --secondary: #f1fafb;
    --tertiary:  #16213e;
    --accent:    #e94560;
    --hover:     #0f3460;
    
    // Font Size
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-550: 1.5rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    // Line Height
    --lh-400: 1.625rem;
    --lh-600: 1.5rem;
    --lh-700: 2.5rem;
    //Letter Spacing
    --ls-500: -0.021rem;
    --ls-600:  0.025rem;
    --ls-700: -0.071rem;
    @include mq(small) {
        // Font Size
        --fs-550: 2rem;
    }
    @include mq(medium) {
        // Font Size
        --fs-400: 1.125rem;
        --fs-700: 4.5rem;
        // Line Height
        --lh-400: 1.75rem;
        --lh-700: 4.5rem;
        // Letter Spacing
        --ls-700: -0.128rem;
    }
    @include mq(large) {
        // Font Size
        --fs-550: 2.5rem;
        --fs-700: 5.5rem;
        // Line Height
        --lh-700: 5.5rem;
        // Letter Spacing
        --ls-700: -0.0.156rem;
    }
}