@use '../00-abstracts' as *;

body {
    max-width: rem(1174px);
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
}


.wrapper {
    padding: 0 1rem;
    @include mq(medium) {
        padding: 0 2rem;
    }
}