@use '../00-abstracts' as *;

h1,
h2,
h3 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
}

h1 {
    font-size:   rem(40px);
    line-height: rem(42px);
    letter-spacing: rem(-0.36px);
    @include mq(large) {
        font-size:   rem(50px);
        line-height: rem(50px);
        letter-spacing: rem(-0.45px);
    }
}

h2 {
    font-size:   rem(40px);
    line-height: rem(42px);
    letter-spacing: rem(-0.36px);
}

p {
    font-size:   rem(16px);
    line-height: rem(30px);
}

small {
    padding-top: rem(4px);
    font-size: rem(12px);
    font-weight: 700; 
    font-style: italic;
    color: red; 
}