@use '../00-abstracts' as *;

a {
    font-size: rem(10px);
    line-height: rem(14px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: rem(2px);
    color: var(--secondary);
    @include mq(small) {
        font-size: rem(12px);
    }
}